@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
  font-style: normal;
  background-color: #90ac9d;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.btn-red {
  position: relative;
  z-index: 15;
  display: inline-block;
  overflow: hidden;
  font-weight: 700;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background-color: #f26843;
  background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  border-radius: 5em;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}
.btn-red:hover,
.btn-red:focus {
  box-shadow: 0 2px 2px 0 #ac1000;
}
.btn-red:active {
  box-shadow: none;
}
.btn-red::before,
.btn-red::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.btn-red::before {
  background-image: linear-gradient(0deg, #ec6f5e 0%, #f58669 100%);
}
.btn-red::after {
  background-image: linear-gradient(0deg, #e1613e 0%, #d74632 100%);
  box-shadow: inset 0 2px 2px 0 #ac1000;
}
.btn-red:hover::before,
.btn-red:focus::before {
  opacity: 1;
}
.btn-red:active::after {
  opacity: 1;
}
.page-wrapper {
  position: relative;
  background-color: #90ac9d;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.page-wrapper::before,
.page-wrapper::after {
  content: "";
  visibility: hidden;
}
.page-wrapper::before {
  background-image: url("../img/slide-2.png");
}
.page-wrapper::after {
  background-image: url("../img/slide-3.png");
}
.content-wrapper {
  position: relative;
  box-sizing: border-box;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}
.page-header {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
}
.page-header__main-nav {
  margin-left: 9px;
}
.page-header__contacts {
  position: absolute;
  top: 72px;
  right: 0;
  z-index: 5;
  width: 168px;
  text-align: right;
}
.page-header__contacts p {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.page-header__contacts a {
  display: inline-block;
  margin-right: -1px;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.page-header__contacts a:hover,
.page-header__contacts a:focus,
.page-header__contacts a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.logo img {
  width: 154px;
  height: 64px;
}
.main-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-top: 13px;
}
.main-nav__list,
.main-nav__user-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list {
  width: 379px;
}
.main-nav__item {
  position: relative;
  padding-bottom: 5px;
}
.main-nav__link {
  position: relative;
  display: block;
  padding: 7px 14px 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3em;
  outline: none;
  transition: color 0.2s linear, background-color 0.2s linear, box-shadow 0.15s linear;
}
.main-nav__link:hover,
.main-nav__link:focus {
  color: #323232;
  background-color: #ffffff;
  border-radius: 3em;
}
.main-nav__link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}
.main-nav__link::before {
  content: "";
  position: absolute;
  right: 14px;
  bottom: 4px;
  left: 14px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s linear;
}
.main-nav__link:hover::before {
  background-color: transparent;
}
.main-nav__item:hover .main-nav__link {
  color: #323232;
  background-color: #ffffff;
}
.main-nav__item--active:hover .main-nav__link {
  color: #ffffff;
  background-color: #d07058;
}
.main-nav__item--active .main-nav__link {
  background-color: #d07058;
}
.main-nav__item--active .main-nav__link:hover,
.main-nav__item--active .main-nav__link:focus {
  color: #ffffff;
  background-color: #d07058;
}
.main-nav__item--active .main-nav__link:active {
  box-shadow: none;
}
.main-nav__item--active .main-nav__link::before {
  background-color: transparent;
}
.main-nav__item:hover .dropdown,
.main-nav__link:focus + .dropdown {
  z-index: 5;
  opacity: 1;
}
.main-nav__user-list {
  width: 262px;
  margin-left: auto;
}
.main-nav__user-item {
  position: relative;
  padding-bottom: 5px;
}
.main-nav__user-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear, background-image 0.2s linear;
}
.main-nav__user-link:hover,
.main-nav__user-link:focus,
.main-nav__user-link:active {
  color: #323232;
  background-color: #ffffff;
}
.main-nav__user-item--search .main-nav__user-link {
  position: relative;
  width: 33px;
  height: 33px;
  background-image: url("../img/icon-search.svg");
  background-position: 50% 50%;
  border-radius: 50%;
}
.main-nav__user-item--search .main-nav__user-link:hover,
.main-nav__user-item--search .main-nav__user-link:focus,
.main-nav__user-item--search .main-nav__user-link:active {
  background-image: url("../img/icon-search-hover.svg");
}
.main-nav__user-item--search .main-nav__user-link::before {
  content: "";
  background-image: url("../img/icon-search-hover.svg");
  visibility: hidden;
}
.main-nav__user-item--login .main-nav__user-link {
  padding: 9px 16px 8px 44px;
  background-image: url("../img/icon-login.svg");
  background-position: 17px 7px;
  border-radius: 3em;
}
.main-nav__user-item--login .main-nav__user-link:hover,
.main-nav__user-item--login .main-nav__user-link:focus,
.main-nav__user-item--login .main-nav__user-link:active {
  background-image: url("../img/icon-login-hover.svg");
}
.main-nav__user-item--login .main-nav__user-link::before {
  content: "";
  background-image: url("../img/icon-login-hover.svg");
  visibility: hidden;
}
.main-nav__user-item--cart .main-nav__user-link {
  padding: 9px 34px 7px 45px;
  background-image: url("../img/icon-cart.svg");
  background-position: 17px 7px;
  border-radius: 3em;
}
.main-nav__user-item--cart .main-nav__user-link:hover,
.main-nav__user-item--cart .main-nav__user-link:focus,
.main-nav__user-item--cart .main-nav__user-link:active {
  background-image: url("../img/icon-cart-hover.svg");
}
.main-nav__user-item--cart .main-nav__user-link::before {
  content: "";
  visibility: hidden;
  bckground-image: url("../img/icon-cart-hover.svg");
}
.main-nav__user-item--cart-full .main-nav__user-link {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/icon-cart-hover.svg");
}
.main-nav__user-form {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: -1;
}
.main-nav__user-item:hover .main-nav__user-form,
.main-nav__user-link:focus + .main-nav__user-form {
  z-index: 25;
  opacity: 1;
}
.dropdown {
  position: absolute;
  top: 38px;
  left: -5px;
  z-index: -1;
  min-width: 143px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 3px;
  overflow: hidden;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  transform-origin: 0 0;
  opacity: 0;
  transition: opacity 0.2s linear, z-index 0.2s linear;
}
.dropdown__item a {
  display: block;
  margin-bottom: 3px;
  padding: 5px 21px 7px 20px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  transition: background-color 0.1s linear;
}
.dropdown__item a:hover,
.dropdown__item a:focus {
  background-color: #fbded7;
}
.dropdown__item a:active {
  background-color: #f6b5a5;
}
.dropdown__item--news a {
  position: relative;
  margin-bottom: 11px;
  font-weight: 700;
}
.dropdown__item--news a::before {
  content: "";
  position: absolute;
  right: 6px;
  bottom: -6px;
  left: 6px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
.dropdown__item--active a {
  color: #ffffff;
  background-color: #d07058;
}
.dropdown__item--active a:hover,
.dropdown__item--active a:focus {
  color: #ffffff;
  background-color: #d07058;
}
.search-form {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  min-width: 341px;
  padding: 20px 15px 20px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.2s linear, z-index 0.2s linear;
}
.search-form__label {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.search-form__field {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 8px 15px 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.search-form__field:hover {
  border-color: #9a9a9a;
}
.search-form__field:focus {
  border-color: #8fbdec;
}
.search-form__placeholder {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 5;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  transform: translateY(40%);
  cursor: text;
  transition: transform 0.2s linear, font-size 0.2s linear, line-height 0.2s linear, color 0.2s linear;
}
.search-form__field:focus + .search-form__placeholder {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  transform: translateY(-120%);
}
.login-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  box-sizing: border-box;
  min-width: 277px;
  padding: 20px 17px 22px 19px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.2s linear, z-index 0.2s linear;
}
.login-form__label {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 20px;
}
.login-form__field {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 8px 15px 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.login-form__field:hover {
  border-color: #9a9a9a;
}
.login-form__field:focus {
  border-color: #8fbdec;
}
.login-form__placeholder {
  position: absolute;
  top: 0;
  left: 14px;
  z-index: 5;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  transform: translateY(40%);
  cursor: text;
  transition: transform 0.2s linear, font-size 0.2s linear, line-height 0.2s linear, color 0.2s linear;
}
.login-form__field:focus + .login-form__placeholder,
.login-form__field:valid + .login-form__placeholder {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  transform: translateY(-120%);
}
.login-form__bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}
.login__btn {
  box-sizing: border-box;
  min-width: 100px;
  margin-right: 20px;
  padding: 15px 26px 11px;
  border: none;
}
.login__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.login__link {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.login__link:hover,
.login__link:focus,
.login__link:active {
  color: #e84d37;
  border-color: rgba(236, 89, 60, 0.3);
}
.slider {
  position: relative;
  margin-bottom: 41px;
}
.slider__list {
  margin: 0;
  padding: 0;
  padding-top: 311px;
  list-style: none;
  text-align: center;
}
.slider__item {
  display: none;
}
.slider__item-title {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}
.slider__item-btn {
  padding: 8px 41px 12px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.slider__input {
  display: none;
}
.slider__toggles {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 10;
  font-size: 0;
}
.slider__toggle {
  display: inline-block;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.slider__toggle:hover,
.slider__toggle:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
#toggle-1:checked ~ .page-wrapper #slide-1,
#toggle-2:checked ~ .page-wrapper #slide-2,
#toggle-3:checked ~ .page-wrapper #slide-3 {
  display: block;
}
#toggle-1:checked ~ .page-wrapper label[for="toggle-1"],
#toggle-2:checked ~ .page-wrapper label[for="toggle-2"],
#toggle-3:checked ~ .page-wrapper label[for="toggle-3"] {
  background-color: #ffffff;
}
#toggle-1:checked ~ .page-wrapper {
  background-color: #90ac9d;
  background-image: url("../img/slide-1.png");
}
#toggle-2:checked ~ .page-wrapper {
  background-color: #8b98a8;
  background-image: url("../img/slide-2.png");
}
#toggle-3:checked ~ .page-wrapper {
  background-color: #9e8c85;
  background-image: url("../img/slide-3.png");
}
.offers {
  margin-bottom: 40px;
}
.offers__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.offers__item {
  width: 48.8%;
  box-sizing: border-box;
  padding: 14px 21px 23px 19px;
  text-align: right;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.offers__item--raspberry {
  background-color: #992844;
  background-image: url("../img/bg-raspberry.jpg");
  background-position: -50px -94px;
}
.offers__item--chocolate {
  background-color: #4d2c18;
  background-image: url("../img/bg-chocolate.jpg");
  background-position: -218px -104px;
}
.offers__item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: left;
  color: #ffffff;
}
.offers__item-descr {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}
.offers__item-btn {
  padding: 9px 23px 13px 21px;
  font-size: 18px;
  line-height: 24px;
}
.catalog {
  padding-bottom: 38px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.catalog--index {
  border-bottom: none;
}
.catalog__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}
.catalog--index .catalog__list {
  margin-bottom: 0;
}
.catalog__item {
  position: relative;
  z-index: 5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 23.3%;
}
.catalog__item:hover {
  z-index: 50;
}
.catalog__item::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -80px;
  left: -13px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transform: scale(0.6);
  opacity: 0;
  transition: opacity 0.2s linear, transform 0.2s linear;
}
.catalog__item:hover::after {
  transform: scale(1);
  opacity: 1;
}
.catalog__item-title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.catalog__item-title a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  transition: color 0.1s linear, border-color 0.1s linear;
}
.catalog__item-title a:hover,
.catalog__item-title a:focus,
.catalog__item-title a:active {
  color: #ffbc9e;
  border-color: rgba(249, 172, 159, 0.3);
}
.catalog__item-inner {
  position: relative;
  -ms-flex-order: -1;
      order: -1;
}
.catalog__item--hit .catalog__item-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}
.catalog__item-price {
  position: absolute;
  bottom: 22px;
  left: 0;
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}
.catalog__item-price img {
  display: inline-block;
  margin-left: 3px;
  padding-bottom: 5px;
  vertical-align: middle;
}
.catalog__item-price span {
  font-size: 30px;
}
.catalog__pic-wrapper {
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 50%;
}
.catalog__pic-wrapper img {
  display: block;
}
.catalog__item-btn {
  position: absolute;
  bottom: -60px;
  left: 50%;
  box-sizing: border-box;
  width: 200px;
  padding: 12px 17px 10px;
  text-align: center;
  transform: translateX(-50%) scale(0);
  transition: transform 0.2s linear;
}
.catalog__item:hover .catalog__item-btn,
.catalog__item-btn:focus {
  display: inline-block;
  transform: translateX(-50%) scale(1);
}
.info {
  margin-bottom: 40px;
  padding: 24px 21px 0 20px;
  background-color: #eadec4;
  background-image: url("../img/bg-waffle.jpg");
  background-position: 50% 50%;
  border-radius: 13px;
}
.info__intro {
  display: block;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.info__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.info__item {
  position: relative;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  box-sizing: border-box;
  width: 48.8%;
  margin-bottom: 23px;
  padding-left: 57px;
}
.info__item::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  background-color: transparent;
  background-repeat: no-repeat;
}
.info__item--ice-cream::before {
  background-image: url("../img/icon-ice-cream.svg");
}
.info__item--natural::before {
  background-image: url("../img/icon-natural.svg");
}
.info__item--ingredients::before {
  background-image: url("../img/icon-ingredients.svg");
}
.info__item--delivery::before {
  background-image: url("../img/icon-delivery.svg");
}
.news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 40px;
}
.news__item {
  width: 48.8%;
}
.blog-post {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
  min-height: 220px;
  padding: 23px 21px 20px 20px;
  background-color: #ffffff;
  background-image: url("../img/bg-strawberry.jpg");
  background-repeat: no-repeat;
  background-position: -52px -224px;
  border-radius: 13px;
}
.blog-post__title {
  width: 280px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.blog-post__title a {
  color: #323232;
  text-decoration: none;
  border-bottom: 2px solid #323232;
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.blog-post__title a:hover,
.blog-post__title a:focus,
.blog-post__title a:active {
  color: #e84d37;
  border-color: rgba(236, 89, 60, 0.3);
}
.blog-post__lead {
  -ms-flex-order: -1;
      order: -1;
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
}
.subscription {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-sizing: border-box;
  padding: 28px 20px 35px 20px;
  background-image: linear-gradient(0deg, #f8f7f4 0%, #f8f7f4 0%), url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 6px solid transparent;
  border-radius: 13px;
}
.subscription__desc {
  margin: 0;
  margin-bottom: 33px;
  color: #5a5a5a;
}
.subscription__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
}
.subscription__label {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.subscription__field {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 6px 14px 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
  background-color: transparent;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.subscription__field:hover {
  border-color: #9a9a9a;
}
.subscription__field:focus {
  border-color: #8fbdec;
}
.subscription__placeholder {
  position: absolute;
  top: 0;
  left: 14px;
  z-index: 5;
  color: #999999;
  transform: translateY(50%);
  cursor: text;
  transition: transform 0.2s linear, font-size 0.2s linear, line-height 0.2s linear, color 0.2s linear;
}
.subscription__field:focus + .subscription__placeholder,
.subscription__field:valid + .subscription__placeholder {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  transform: translateY(-120%);
}
.subscription__form button[type="submit"] {
  margin-left: 10px;
  padding: 9px 18px 10px 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  border: none;
}
.contacts {
  position: relative;
}
.contacts__map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  width: 98vw;
  margin-right: calc(50% - 49vw);
  margin-left: calc(50% - 49vw);
}
.contacts__container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 62px 0;
  overflow: hidden;
}
.contacts__container::before {
  content: "";
  position: absolute;
  top: 130px;
  left: 250px;
  z-index: 25;
  width: 218px;
  height: 142px;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
}
.contacts__container img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.contacts__inner {
  position: relative;
  z-index: 45;
  margin-left: auto;
  padding: 30px 25px 30px 25px;
  background-color: #ffffff;
  border-radius: 15px;
}
.contacts__inner h3 {
  width: 180px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.contacts__inner b {
  display: block;
  width: 225px;
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}
.contacts__phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.contacts__phone:hover,
.contacts__phone:focus,
.contacts__phone:active {
  color: #e84d37;
  border-bottom: 2px solid rgba(236, 89, 60, 0.3);
}
.contacts__inner p {
  margin: 0;
  margin-bottom: 20px;
}
.contacts__btn {
  padding: 9px 27px 10px;
  font-size: 18px;
  line-height: 24px;
}
.page-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 18px 0 22px;
}
.page-footer__socials {
  padding-top: 18px;
}
.page-footer__menu {
  width: 330px;
  margin-right: 13px;
  padding-top: 7px;
}
.page-footer__menu-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-footer__menu-item {
  box-sizing: border-box;
  width: 165px;
  text-align: left;
}
.page-footer__menu-item--heart {
  position: relative;
}
.page-footer__menu-item--heart::before {
  content: "";
  position: absolute;
  top: 52%;
  left: 1px;
  width: 15px;
  height: 13px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}
.page-footer__menu-item:nth-child(2n + 1) {
  padding-left: 22px;
}
.page-footer__menu-item a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  transition: color 0.15s linear, border-color 0.2s linear;
}
.page-footer__menu-item a:hover,
.page-footer__menu-item a:focus,
.page-footer__menu-item a:active {
  color: #ffbc9e;
  border-color: rgba(249, 172, 159, 0.3);
}
.page-footer__copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.page-footer__copyright-info {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.page-footer__copyright-info a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.page-footer__copyright-info a:hover,
.page-footer__copyright-info a:focus,
.page-footer__copyright-info a:active {
  color: #ffbc9e;
  border-color: rgba(249, 172, 159, 0.3);
}
.page-footer__copyright-logo {
  -ms-flex-order: -1;
      order: -1;
  width: 108px;
  height: 39px;
  outline: none;
}
.socials-list {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.socials-list__item {
  margin-right: 11px;
}
.socials-list__item:last-child {
  margin-right: 0;
}
.social-link {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  outline: none;
  transition: border-color 0.15s linear;
}
.social-link:hover,
.social-link:focus {
  border-color: rgba(255, 255, 255, 0.7);
}
.social-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: opacity 0.15s linear;
}
.social-link--twitter::before {
  background-image: url("../img/icon-twitter.svg");
}
.social-link--instagram::before {
  background-image: url("../img/icon-instagram.svg");
}
.social-link--facebook::before {
  background-image: url("../img/icon-facebook.svg");
}
.social-link--vk::before {
  background-image: url("../img/icon-vk.svg");
}
.social-link:hover::before,
.social-link:focus::before {
  opacity: 1;
}
.social-link:active::before {
  opacity: 0.8;
}
.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  display: none;
  box-sizing: border-box;
  width: 477px;
  padding: 18px 24px 27px;
  background-color: #f8f7f4;
  border-radius: 7px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%);
}
@keyframes bounce {
  0% {
    transform: translate(-50%, -1000%);
  }
  70% {
    transform: translate(-50%, -45%);
  }
  90% {
    transform: translate(-50%, -53%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.modal-feedback--show {
  display: block;
  animation: bounce 0.6s;
}
.modal-feedback__intro {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}
.modal-feedback__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal-feedback__close::before,
.modal-feedback__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 2px;
  background-color: #323232;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: background-color 0.1s linear, opacity 0.1s linear;
}
.modal-feedback__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal-feedback__close:hover::before,
.modal-feedback__close:focus::before,
.modal-feedback__close:hover::after,
.modal-feedback__close:focus::after {
  background-color: #e84d37;
}
.modal-feedback__close:active::before,
.modal-feedback__close:active::after {
  opacity: 0.5;
}
.modal-feedback__label {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 20px;
}
.modal-feedback__field {
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-right: 186px;
  padding: 13px 15px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.modal-feedback__field:hover {
  border-color: #9a9a9a;
}
.modal-feedback__field:focus {
  border-color: #8fbdec;
}
.modal-feedback__field--textarea {
  box-sizing: border-box;
  min-height: 150px;
  margin-right: 0;
  resize: none;
}
.modal-feedback__placeholder {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 5;
  color: #999999;
  transform: translateY(70%);
  cursor: text;
  transition: transform 0.2s linear, font-size 0.2s linear, line-height 0.2s linear, color 0.2s linear;
}
.modal-feedback__field:focus + .modal-feedback__placeholder,
.modal-feedback__field:valid + .modal-feedback__placeholder {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  transform: translateY(-120%);
}
.modal-feedback__btn {
  margin-left: auto;
  padding: 14px 24px 13px;
  border: none;
}
.cart {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
  min-width: 540px;
  padding: 20px 15px 21px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.2s linear, z-index 0.2s linear;
}
.cart__list {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.cart__total {
  caption-side: bottom;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #323232;
}
.cart__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
  vertical-align: top;
}
.cart__item:last-child::after {
  content: "";
  position: absolute;
  right: 15px;
  bottom: -18px;
  left: 15px;
  z-index: 20;
  height: 1px;
  background-color: #cacac7;
}
.cart__item-title {
  width: 220px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}
.cart__item-amount {
  width: 95px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}
.cart__item-amount span {
  color: #999999;
}
.cart__item-price {
  width: 50px;
  font-size: 13px;
  line-height: 1.23;
  color: #323232;
}
.cart__item-cancel {
  -ms-flex-order: -1;
      order: -1;
}
.cart__item-cancel button {
  position: relative;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.cart__item-cancel button::before,
.cart__item-cancel button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 2px;
  background-color: #323232;
  outline: none;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: background-color 0.1s linear, opacity 0.2s linear;
}
.cart__item-cancel button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.cart__item-cancel button:hover::before,
.cart__item-cancel button:focus::before,
.cart__item-cancel button:hover::after,
.cart__item-cancel button:focus::after {
  background-color: #e84d37;
}
.cart__item-cancel button:active::before,
.cart__item-cancel button:active::after {
  opacity: 0.5;
}
.cart__order {
  margin-left: auto;
  padding: 13px 15px 13px 15px;
}
.cart__item-pic {
  width: 33px;
  height: 33px;
  overflow: hidden;
  border-radius: 50%;
}
.main-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.main-content__breadcrumbs {
  -ms-flex-order: -1;
      order: -1;
}
.main-content__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}
.breadcrumbs {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}
.breadcrumbs__item {
  position: relative;
  margin-right: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__item::after {
  content: "»";
  margin-left: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__item a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.breadcrumbs__item a:hover,
.breadcrumbs__item a:focus,
.breadcrumbs__item a:active {
  color: #ffbc9e;
  border-color: rgba(249, 172, 159, 0.3);
}
.filters {
  padding-bottom: 30px;
}
.filters__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-right: 289px;
  -ms-flex-align: end;
      align-items: flex-end;
}
.filter-field {
  margin-right: 14px;
  padding: 0;
  border: none;
}
.filter-field__title {
  margin-bottom: 5px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.filter-field__inner {
  padding: 15px 0px 9px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3em;
}
.filter-field__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  padding: 13px 31px 9px 16px;
  list-style: none;
}
.filter-field__list li {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.filter-sort {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-image: url("../img/icon-select-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear, background-image 0.2s linear;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.filter-sort:hover,
.filter-sort:focus {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/icon-select-arrow-hover.svg");
}
.filter-price {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  padding: 17px 22px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3em;
}
.filter-price__scale {
  position: relative;
  height: 4px;
  background-color: rgba(209, 218, 211, 0.5);
}
.filter-price__bar {
  position: absolute;
  right: 53px;
  left: 16px;
  height: 4px;
  background-color: #d1dad3;
}
.filter-price__toggle {
  position: absolute;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.1s linear;
}
.filter-price__toggle--min {
  left: 35px;
}
.filter-price__toggle--max {
  right: 67px;
}
.filter-price__toggle:hover {
  transform: translateY(-50%) scale(1.1);
}
.filter-checkbox__input {
  display: none;
}
.filter-checkbox__label {
  position: relative;
  padding-left: 33px;
  cursor: pointer;
}
.filter-checkbox__label::before,
.filter-checkbox__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
  transition: opacity 0.1s linear;
}
.filter-checkbox__label::before {
  background-image: url("../img/icon-checkbox-off.svg");
  background-size: 20px 20px;
}
.filter-checkbox__label::after {
  background-image: url("../img/icon-checkbox-on.svg");
  background-size: 23px 20px;
  opacity: 0;
}
.filter-checkbox__label:hover::before {
  opacity: 1;
}
.filter-checkbox__input:checked ~ .filter-checkbox__label::before {
  opacity: 0;
}
.filter-checkbox__input:checked ~ .filter-checkbox__label::after {
  opacity: 0.8;
}
.filter-checkbox__input:checked ~ .filter-checkbox__label:hover::after {
  opacity: 1;
}
.filter-checkbox__input:disabled ~ .filter-radio__label {
  opacity: 0.4;
}
.filter-checkbox__input:disabled ~ .filter-radio__label::before,
.filter-checkbox__input:disabled ~ .filter-radio__label::after {
  opacity: 0.8;
}
.filter-radio__label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}
.filter-radio__label::before,
.filter-radio__label::after {
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: opacity 0.1s linear, background-color 0.1s linear;
}
.filter-radio__label::before {
  left: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 4px solid #ffffff;
  opacity: 0.8;
}
.filter-radio__label::after {
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  opacity: 0;
}
.filter-radio__label:hover::before {
  opacity: 1;
}
.filter-radio__input {
  display: none;
}
.filter-radio__input:checked ~ .filter-radio__label::after {
  opacity: 0.8;
}
.filter-radio__input:checked ~ .filter-radio__label:hover::after {
  opacity: 1;
}
.filter-radio__input:disabled ~ .filter-radio__label {
  opacity: 0.4;
}
.filter-radio__input:disabled ~ .filter-radio__label::before,
.filter-radio__input:disabled ~ .filter-radio__label::after {
  opacity: 0.8;
}
.pagination-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 175px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.pagination__item a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 27px;
  height: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.pagination__item a:hover,
.pagination__item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination__item a:active {
  color: #323232;
  background-color: #ffffff;
}
.pagination__item--prev a,
.pagination__item--next a {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.pagination__item--next a {
  transform: rotate(360deg);
}
.pagination__item--prev a:hover,
.pagination__item--next a:hover,
.pagination__item--prev a:focus,
.pagination__item--next a:focus {
  background-color: transparent;
}
.pagination__item--prev a:active,
.pagination__item--next a:active {
  background-color: transparent;
}
.pagination__item--prev-disabled a {
  opacity: 0.2;
}
.pagination__item--active a,
.pagination__item--active a:hover {
  color: #323232;
  background-color: #ffffff;
}
